/pkg/vignettes/speed.aux
/pkg/vignettes/figure/
/pkg/vignettes/speed.log
/pkg/vignettes/using.aux
/pkg/vignettes/using.log
/pkg/vignettes/using.out
/pkg/vignettes/cache/
/pkg/vignettes/speed.R
/pkg/vignettes/speed.tex
/pkg/vignettes/using.R
/pkg/vignettes/using.tex
/.DS_Store
